<div class="row">
    <div class="col-xs-8 col-sm-offset-2">
        <h2>Enregistrer une nouvelle article</h2>
        <form [formGroup]="postForm" (ngSubmit)="onSavePost(f)" #f="ngForm">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" formControlName="title">
            </div>
            <div class="form-group">
                <label for="content">Contenu</label>
                <textarea type="text" class="form-control" id="content" formControlName="content"></textarea>
            </div>
            <div class="form-group">
                <label for="content">Published Date</label>
                <input type="date" class="form-control" id="create_at" formControlName="create_at">
            </div>
            <button class="btn btn-success" type="submit" [disabled]="f.form.invalid">Enregistrer</button>
        </form>
    </div>
</div>