<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > dontLoveIts && loveIts > 0,
                'list-group-item-info': loveIts == dontLoveIts,
                'list-group-item-danger': dontLoveIts > loveIts && dontLoveIts > 0}">
    <h1 (click)="onViewPost(id)">{{title}} <span style="float: right; font-size: 25px; font-style: italic;">{{create_at | date: "short"}}</span></h1>
    <p style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;max-width: 75ch;">{{content}}</p>
    <button class="btn btn-success" (click)="inLove()">Love Its!</button>&nbsp;
    <button class="btn btn-danger" (click)="inDontLove()">Don't love its!</button>
    <span style="float: right;"><button class="btn btn-success">{{loveIts}}</button>&nbsp;<button class="btn btn-danger">{{dontLoveIts}}</button></span>
    <button class="btn btn-danger pull-right deletePostItem" (click)="onDeletePost()">
        Delete
     </button>
</li>
